

<div class="d-md-flex">
    <div class="w-50">
        <img src="../../assets/mobile.png" class="img-fluid" alt="">
    </div>
    <div class="w-50">
        <div class="content">
            <div class="Content-Heading">Banking has never been so Rewarding</div><br><br><br>
            <div class="Content-Body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eveniet.
                Tempore quia iure in, tempora aliquid est autem suscipit necessitatibus tenetur, deserunt
                officia ut soluta minima ex eum, nobis accusantium esse quam libero illo deleniti sunt alias.
                Ab, amet quas.
                <br><br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat voluptatum saepe eos adipisci
                maxime corporis corrupti sint neque deleniti sed.
            </div>
            <form id="form1" method="post">
                <div class="r-access">

                    <strong>Be A Part</strong>
                    <p>
                        <input type="email" id="signupemail" name="signupemail" class="email-input"
                                placeholder="enter your email">
                    </p>
                    <br>
                    <input type="submit" id="signupbtn" name="signupbtn" placeholder="signup"
                            value="Connect With Us">
                    
                    <div>
                        
                    </div> 
                    <p id="faq">*See FAQ for more details</p>
                </div>
            </form>
        </div>
    </div>
    
</div>