
.displaybtn-l {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.displaybtn-r {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.displaybtn-m {
border-radius: 0;
}

.btn-display-child:focus{
    background-color: aquamarine;
}

.selectmonthdiv{
    display: flex;
    margin-left: 30%;
    margin-right: auto;
}

.btn-display-apply{
    border-radius: 50px;
}

.monthlydivmargin{
    margin-left: 30px;
}