<div class="btn-group-lg text-center" role="group" aria-label="Basic example">
    <button type="button"  [ngClass]="{'btn-light' : !toggle, 'btn-primary': toggle}" id="btnAccountDetailsID" class="btn btn-light displaybtn displaybtn-l border border-dark border-2 dispay-main-btn" (click)="btnDisplayMainClick(1)">Account Details</button>
    <button type="button" [ngClass]="{'btn-light' : toggle, 'btn-primary': !toggle}" id="btnDisplayReportsID" class="btn btn-light displaybtn displaybtn-r border border-dark border-2 dispay-main-btn" (click)="btnDisplayMainClick(2)">Display Reports</button>
  </div>
  <br>
  <div *ngIf="displayReportsbtngrp" class="btn-group-lg text-center" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light displaybtn displaybtn-l border border-dark border-2 btn-display-child" (click)="btnDisplayChildClick(1)">Mini Statement</button>
    <button type="button" class="btn btn-light displaybtn displaybtn-m border border-dark border-2 btn-display-child" (click)="btnDisplayChildClick(2)">Monthly Statement</button>
    <button type="button" class="btn btn-light displaybtn displaybtn-m border border-dark border-2 btn-display-child" (click)="btnDisplayChildClick(3)">Period Statement</button>
    <button type="button" class="btn btn-light displaybtn displaybtn-m border border-dark border-2 btn-display-child" (click)="btnDisplayChildClick(4)">Balance Enquiry</button>
    <button type="button" class="btn btn-light displaybtn displaybtn-r border border-dark border-2 btn-display-child" (click)="btnDisplayChildClick(5)">Subscription Enquiry</button>
  </div>
<br>

<div *ngIf="selectPeriod">
  <p><input type="date" id="startdate" name="startdate" [(ngModel)]="startDate"></p>
<p><input type="date" id="enddate" name="enddate" [(ngModel)]="endDate"></p>
<button type="button" (click)="btnUpdatePeriodStatement()">Apply</button>
</div>



<div *ngIf="selectMonthDropdown">
  <h3>Choose Your Month</h3>
<select #cricket (change)="update($event)">
    <option value="default">----</option>
    <option *ngFor="let player of players" [value]="player">
        {{player}}
    </option>
</select>
  
<p>You selected {{selected}}</p>
<button type="button" class="btn btn-light displaybtn displaybtn-r border border-dark border-2 btn-display-child" (click)="btnUpdateMonthlyStatement()">Apply</button>
 
</div>

<router-outlet></router-outlet>
