<header class="header">
    <nav class="navbar navbar-light  background-color-lg navbar-expand-lg" >
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <app-logo></app-logo>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
             
            <div class="collapse navbar-collapse navbar-menu " id="navbarText">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active nav-link-b hover-effers" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-b hover-effers" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-b hover-effers" href="#">ContactUs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-b hover-effers" href="#">LogIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header> 
