


<div class="d-md-flex">
    <div class="w-50">
<div class="transaction-div">
    <form [formGroup]="form" class="transaction-from " (ngSubmit)="submit()">
        <table class="table table-sm table-responsive  transaction-table container">
            <tbody>
              <tr>
                  <td ><label for="mode">MODE:</label></td>
                  <td ><input id="imps" type="radio" value="IMPS" class="radio-btn" name="TransactionMode" formControlName="TransactionMode">
                    <label for="imps">IMPS</label>
                    <input id="neft" type="radio" value="NEFT"  class="radio-btn" name="TransactionMode" formControlName="TransactionMode">
                    <label for="neft">NEFT</label>
                </td>
              </tr>
              <tr>
                <td><label for="type">TYPE:</label></td>
                <td><input id="sameBank" type="radio" value="sameBank" name="Type" formControlName="Type">
                    <label for="sameBank">Within The Bank</label>
                    <input id="outsideBank" type="radio" value="outsideBank"  name="Type" formControlName="Type">
                    <label for="outsideBank">Outside The Bank</label>
                </td>
              </tr>
                <tr>
                    <td><label for="BeneficiaryID">Select Beneficiary:</label></td>
                    <td><input id="BeneficiaryID" type="text" value="" name="BeneficiaryID" placeholder="EnterBeneficiaryID" formControlName="BeneficiaryID"></td>
                </tr>
                <tr>
                    <td><label for="TransactionAmount">Enter Amount</label></td>
                    <td><input id="TransactionAmount" type="text" value="" name="TransactionAmount" placeholder="Enter Transaction Amount" formControlName="TransactionAmount"></td>
                </tr>
                <tr>
                    <td><label for="password">Enter Transaction Password</label></td>
                    <td><input id="password" type="text" value="" name="password" placeholder="Enter Transaction Password" ></td>
                </tr>
                <tr><button class="btn btn-primary"  [disabled]="!form.valid" type="submit">Submit</button></tr>      
            </tbody>
        </table>
        </form>
        
        <div *ngIf="TransactionSuccessful">
            Your Transaction Was SuccessFULL
        </div>

</div>

    </div>
    <div class="w-50">
        <div class="content">
            <div class="Content-Heading">Transaction Within Seconds</div><br><br><br>
        </div>
    </div>
    
</div>

   


 