<div class="w-100 accountdeatilsbody">
  <div class="container w-50">
  
    <table class="table table-sm  table-responsive  AccountDetails-table container">
      <tbody>
        <tr>
          <td>Account Number</td>
          <td>{{myAccountDetails.AccountNo}}</td>
        </tr>
        <tr>
          <td>Name Of Account Holder</td>
          <td>{{myAccountDetails.FirstName}}</td>
        </tr>
        <tr>
          <td>Mode Of Operation</td>
          <td>{{myAccountDetails.ModeOfOperation}}</td>
        </tr>
        <tr>
          <td>Account Type</td>
          <td>{{myAccountDetails.AccountType}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{myAccountDetails.Address}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{myAccountDetails.Gender}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{myAccountDetails.Email}}</td>
        </tr>
        <tr>
          <td>Date Of Birth</td>
          <td>{{myAccountDetails.DOB}}</td>
        </tr>
        <tr>
          <td>Nomination Details</td>
          <td>{{myAccountDetails.NominationDetails}}</td>
        </tr>
        <tr>
          <td>Balance</td>
          <td>{{myAccountDetails.Balance}}</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>