<p>account-details works!</p>
<!-- <ul *ngFor="let x of myAccountDetails">
    <li>{{x.AccountNo}} : {{x.FirstName}}</li>
    </ul> -->

<ul>
    <li>{{myAccountDetails.AccountNo}}</li>
    <li>{{myAccountDetails.FirstName}}</li>
    <li>{{myAccountDetails.ModeOfOperation}}</li>
    <li>{{myAccountDetails.AccountType}}</li>
    <li>{{myAccountDetails.Address}}</li>
    <li>{{myAccountDetails.Gender}}</li>
    <li>{{myAccountDetails.Email}}</li>
    <li>{{myAccountDetails.DOB}}</li>
    <li>{{myAccountDetails.NominationDetails}}</li>
    <li>{{myAccountDetails.OpenDate}}</li>
    <li>{{myAccountDetails.Balance}}</li>
</ul>