
<div class="footer">
    <div class="d-sm-flex footer-resources">
        <div class=" me-auto foot-logo flex-fill">BSGB47</div>
        <div class="white-text footer-text  ">
            <ul class="footer-list">
                <li class="footer-list-heading"><a href="">Resouces</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Bank Account Agreement</a></li>
            </ul>
        </div>
        <div class="white-text footer-text flex-fill">
            <ul class="footer-list">
                <li class="footer-list-heading"><a href="">ContactUs</a></li>
                <li><a href="">helpdesk@bsgb47.com</a></li>
                <li><a href="">support@bsgb47.com</a></li>
                <li>
                    
                    <img src="../../../assets/facebook-brands (2).svg"  class="social-logo" alt="">
                    <img src="../../../assets/instagram-brands (1).svg" class="social-logo"  alt="">
                    <img src="../../../assets/twitter-brands.svg" class="social-logo"  alt="">
                    
                </li>
            </ul>
        </div>
    </div>
    
<div class="d-flex">
    <div class=" bank-info-text">
        <ul class="footer-list ">
            <li>
                <a href="">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, a iste animi id
                    error perferendis qui et consequuntur? Ducimus, at.
                </a>
            </li>
            <li>
                <a href="">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quisquam obcaecati
                    nemo dicta, iure tempora rem odit deleniti perspiciatis ipsum.
                </a>
            </li>
            <li>
                <a href="">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus totam saepe
                    laborum dolor corrupti mollitia omnis voluptas velit rerum temporibus
                </a>
            </li>
            <li>
                <a href="">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed repellat, atque quae
                    alias delectus tenetur fugiat cupiditate nesciunt temporibus asperiores!
                </a>
            </li>
            <li>
                <a href="">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam vel natus
                    possimus, ea quia voluptatibus autem accusamus nostrum voluptates.
                </a>
            </li>
            <li>
                <a href="">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolore voluptas
                    laborum quasi ipsum cumque aspernatur illum odit eaque distinctio!
                </a>
            </li>

        </ul>
    </div>
</div>

</div>
